<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/View Page.css">
</head>
<body >
   <form action ="/createQuiz" method="POST">
        <label for="uname"><b>QuizName</b></label>
        <input type="text" placeholder="Enter QuizName" name="quizName" required>
    
        <button type="submit">Submit</button>
    </form>

</body>
</html>

