<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/View Page.css">
</head>
<body >
  <div class="box"> 
    
    <form>
      <h1><%=user._id%></h1>
      <a href="/quiz/view" class="button">View</a>
      <a href="/quiz/new" class="button">New</a>
    </form>
  </div>
</body>
</html>

