

 <html>
<head>
<title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/loginpage.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <header>  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">QUIZ QUESTIONS</a>
        </div>
        <ul class="nav navbar-nav">
         
         
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/viewQuizes"><span class="glyphicon glyphicon-user"></span> Home</a></li>
          <li><a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
    <body>
    <div class="loginbox">
            <br><br><br><br>
            <h1> </h1>
          
            <form action="/admin/createQuiz" method="POST">
                <br>
                <label for="uname"><b><span>Quiz Name:</span></b></label><br><br>
                <input type="text" placeholder="Enter QuizName" name="quizName" required="">
                <br>
                
                <button type="submit" class="button" style=" margin-top: 25px; float: left; width:30%";>Submit</button>
               
            </form>
    </div>

    
</body>
</head>
</html>
