<!DOCTYPE html>
<html>
<head>
	<title>view Questions</title>
  <link rel="stylesheet" type="text/css" href="/css/viewquestion.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <header>  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">QUIZ QUESTIONS</a>
        </div>
        <ul class="nav navbar-nav">
         
         
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/viewQuizes"><span class="glyphicon glyphicon-user"></span> Home</a></li>
          <li><a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
</head>
<body >
  
  	
       <% for (var i =0; i <ques.length;  i++ ) { %>
           <p><h7><%=ques[i].question%></h7></p>
           <a href="deleteQuestion/<%=ques[i]._id%>/<%=id%>" class="button" style="margin-left:1550px;
            width:30%;
            height:20%;"></style>>Delete</a>
        <br>
        <br>
        
      
      <% } %>
<br>
<br>
<br>
<br>
      <h1>Add more questions? </h1>
      <a href="createQuestions/<%=id%>" class="button" style="margin-left:550px; width:30%; float: left;">Create Questions</a>
      <br>
       
    
  </div>
</body>
</html>

