

  <!DOCTYPE html>
<html>
<head>
	<title>view Questions</title>
 
  <link rel="stylesheet" type="text/css" href="/css/viewquestion.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <header>
    <br>
     

   <nav>
      <h1><span>QUIZ QUESTIONS</span></h1>
    
     <ul>
       <li><a href="../../viewQuizes"> Home</a></li>
       <li><a href="../../login">Logout</a></li>
     </ul>
   </nav>
 </header>
</head>
<body >
  
  	
       <% for (var i =0; i <ques.length;  i++ ) { %>
           <p><h7><%=ques[i].question%></h7></p>
           <a href="deleteQuestion/<%=ques[i]._id%>/<%=id%>" class="button" style="margin-left:1550px;width:30%; height:20%;">Delete</a>
        <br>
        <br>
        
      
      <% } %>
<br>
<br>
<br>
<br>
      <h1>Add more questions? </h1>
      <a href="createQuestions/<%=id%>" class="button" style="margin-left:625px; width:30%; float: left;">Create Questions</a>
      <br>
       
    
  </div>
</body>
</html>

